.dialog-content {
  padding: 0px 30px 20px;
}

.mat-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-dialog-header .dialog-title {
  font-weight: normal;
}

.mat-dialog-actions {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
